<%- include("../common/header.html") %>

<body>
    <div class="page_nav">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 nav_left">
                    <img src="/images/logo.png" style="cursor: pointer" onclick="window.location.href='/'" />
                    <span class="hidden-xs" style="cursor: pointer" onclick="window.location.href='/'">Chronicle
                        Road</span>
                    <span class="visible-xs" style="cursor: pointer" onclick="window.location.href='/'">CRoad</span>
                </div>
                <div class="col-xs-6 nav_right">
                    <span class="hidden-xs"><%=user_name%></span>
                    <span class="glyphicon glyphicon-off" aria-hidden="true"
                        onclick="window.location.href='/get_out'"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 20px">
        <form>
            <div class="form-group">
                <label for="title">标题</label>
                <input type="text" class="form-control" id="title" placeholder="请输入文章标题" value="<%=data.title%>">
            </div>
            <div class="form-group">
                <label for="select">类型</label>
                <select class="form-control" id="select">
                    <option value="">请选择类型</option>
                    <option value="1" <%if(data.type==1){%>selected<%}%> >日志</option>
                    <option value="2" <%if(data.type==2){%>selected<%}%> >笔记</option>
                    <option value="3" <%if(data.type==3){%>selected<%}%> >随笔</option>
                    <option value="4" <%if(data.type==4){%>selected<%}%> >杂谈</option>
                    <option value="5" <%if(data.type==5){%>selected<%}%> >其他</option>
                </select>
            </div>
            <div class="form-group">
                <label for="general">摘要</label>
                <textarea class="form-control" rows="3" id="general" placeholder="请输入文章摘要"><%=data.general%></textarea>
            </div> 
            <div class="form-group" id="allPart">
                <label for="part">正文段落</label>
                <%data.text.forEach(function(item){%>
                <textarea class="form-control part" rows="12" placeholder="请输入文章内容"
                    style="margin-bottom: 15px"><%=item%></textarea>
                <%})%>
            </div>
        </form>
        <div style="margin-bottom: 30px;text-align: center">
            <button style="margin: 0 20px" type="button" class="btn btn-link" onclick="addPart()">
                <p style="margin-bottom: 0"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></p>点击添加段落
            </button>
            <button style="margin: 0 20px" type="button" class="btn btn-link" onclick="rmPart()">
                <p style="margin-bottom: 0"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></p>点击删除段落
            </button>
        </div>
        <div class="detail_footer">
            <button type="button" class="btn btn-primary" onclick="editArt()"><span class="glyphicon glyphicon-ok"
                    aria-hidden="true"></span>保存修改</button>
            <button type="button" class="btn btn-default" onclick="history.go(-1)"><span
                    class="glyphicon glyphicon-remove" aria-hidden="true"></span>取消</button>
        </div>
    </div>
    <script>
        var user_name = '<%=user_name%>';
        var user_id = '<%=user_id%>';

        function editArt() {
            var txtArr = [];
            var allPart = $('.part');
            for (var i = 0; i < allPart.length; i++) {
                if (allPart.eq(i).val()) {
                    txtArr.push(allPart.eq(i).val());
                }
            };
            var txtStr = JSON.stringify(txtArr)
            var postData = {
                id: '<%=art_id%>',
                title: $('#title').val(),
                text: txtStr,
                general: $('#general').val(),
                type: $('#select').val(),
                user_id: user_id,
                user_name: user_name,
            }
            if (!postData.title) {
                layer.msg('请填写文章标题');
                return false;
            }
            if (!postData.type) {
                layer.msg('请选择文章类型');
                return false;
            }
            if (!postData.general) {
                layer.msg('请填写文章摘要');
                return false;
            }
            if (txtArr.length == 0) {
                layer.msg('请填写文章内容');
                return false;
            }
            layer.load(1, {
                shade: [0.8, '#393D49']
            });
            $.post('/post/edit_art', postData, function (data) {
                layer.closeAll();
                if (data.code == 0) {
                    layer.msg(data.data);
                    setTimeout(function () {
                        window.location.href = '/detail?id=<%=art_id%>';
                    }, 500);
                } else {
                    layer.msg(data.data);
                }
            });
        }

        //点击添加段落函数
        function addPart() {
            var obj =
                '<textarea class="form-control part" rows="8" placeholder="请输入文章内容" style="margin-bottom: 15px"></textarea>';
            $('#allPart').append(obj);
        }

        //点击删除段落函数
        function rmPart() {
            var lastPart = $('.part').eq($('.part').length - 1);
            if ($('.part').length > 1) {
                lastPart.remove();
            } else {
                layer.msg('必须保留至少一个段落');
            }
        }
    </script>
</body>

<%- include("../common/footer.html") %>