<%- include("../common/header.html") %>

<body>
  <div class="container">
    <div class="login_logo">
      <h3>新用户注册</h3>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4"></div>
      <div class="col-xs-12 col-sm-4">
        <form>
          <div class="form-group">
            <label for="exampleInputUser">用户名</label>
            <input type="text" class="form-control input-lg" id="exampleInputUser" placeholder="请输入用户名" name="username">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword">登陆密码</label>
            <input type="password" class="form-control input-lg" id="exampleInputPassword" placeholder="请输入密码"
              name="password">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword2">确认密码</label>
            <input type="password" class="form-control input-lg" id="exampleInputPassword2" placeholder="请再次输入密码"
              name="password2">
          </div>
          <a href="/login">立即登陆</a>
          <button type="button" class="btn btn-primary btn-block btn-lg" style="margin-top: 50px"
            id="subBtn">注册</button>
        </form>
      </div>
      <div class="col-xs-12 col-sm-4"></div>
    </div>
  </div>
  <script>
    $('#subBtn').click(function () {
      var userName = $('input[name=username]'),
        password = $('input[name=password]'),
        password2 = $('input[name=password2]');
      if (!userName.val()) {
        layer.msg('请输入用户名');
        userName.focus();
        return false;
      }
      if (!password.val()) {
        layer.msg('请输入密码');
        password.focus();
        return false;
      }
      if (!password2.val()) {
        layer.msg('请再次输入密码');
        password2.focus();
        return false;
      }
      if (password.val() != password2.val()) {
        layer.msg('两次输入密码不一致');
        password.focus();
        return false;
      }
      var loadLayer = layer.load(layerconfig.load.icon, layerconfig.load.shade);
      $.post('/login-post/sign-in', {
        userName: userName.val(),
        password: password.val(),
        password2: password2.val()
      }, function (data) {
        layer.close(loadLayer);
        if (data.code == 0) {
          layer.msg('注册成功');
          setTimeout(function () {
            window.location.href = '/';
          }, 1000);
        } else {
          layer.msg(data.data);
        }
      });
    });
  </script>
</body>

<%- include("../common/footer.html") %>